In [1]:
#getting all the imports out of thee way

import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

In [3]:
# reading our data file
df = pd.read_csv("/home/mohit/Documents/thefinaldatafile.csv")

In [5]:
# seeing our data from the top( deafult is 5 )

df.head()

,Sno,ECG,Stethography,HeartRate,respiratoryrate,SelDuration,SelStart,SelEnd,SpO2
0,1,-1.3970,-1.4897,75.6547,15.8475,0.793,00:00.45,00:01.242,97.3036
1,2,-1.3831,0.1815,75.4254,15.8475,0.796,00:01.243,00:02.038,97.3044
2,3,-1.3663,1.3439,74.8397,15.8475,0.801,00:02.039,00:02.839,97.3048
3,4,-1.3627,0.3860,70.6504,15.8475,0.850,00:02.84,00:03.689,97.3037
4,5,-1.3843,-1.1263,69.9851,15.8475,0.857,00:03.69,00:04.546,97.3038

In [7]:
# number of values present  in our data

df.shape

(5111, 9)

In [9]:
#taking the data attributes

df.describe()

,Sno,ECG,Stethography,HeartRate,respiratoryrate,SelDuration,SpO2
count,5111.000000,5111.000000,5111.000000,5111.000000,5111.000000,5111.000000,5111.000000
mean,2556.000000,-1.366269,0.118736,79.921467,13.473745,0.755906,91.979136
std,1475.562943,0.038957,1.038749,6.640004,2.234247,0.062946,4.766842
min,1.000000,-2.887100,-3.102200,42.579800,5.883100,0.583000,81.240600
25%,1278.500000,-1.374400,-0.811000,75.204950,12.443400,0.712000,89.273300
50%,2556.000000,-1.366200,0.107100,79.031800,13.655500,0.759000,93.290100
75%,3833.500000,-1.357900,1.068000,84.261250,14.653550,0.798000,96.301700
max,5111.000000,-0.266600,5.271700,102.868000,62.344300,1.409000,97.306600

In [11]:
cdf = df[['Sno','ECG','Stethography','HeartRate','respiratoryrate','SelDuration','SpO2']]
cdf.head()

   Sno     ECG  Stethography  HeartRate  respiratoryrate  SelDuration     SpO2
0    1 -1.3970       -1.4897    75.6547          15.8475        0.793  97.3036
1    2 -1.3831        0.1815    75.4254          15.8475        0.796  97.3044
2    3 -1.3663        1.3439    74.8397          15.8475        0.801  97.3048
3    4 -1.3627        0.3860    70.6504          15.8475        0.850  97.3037
4    5 -1.3843       -1.1263    69.9851          15.8475        0.857  97.3038

In [12]:
# splitting 80% data for training and 20% for testing

msk = np.random.rand(len(df))<0.8
train = cdf[msk]
test = cdf[~msk]

In [33]:
#training our multiple linear regression model 

from sklearn import linear_model
regr = linear_model.LinearRegression()
x = np.asanyarray(train[['Stethography','SpO2','Sno','HeartRate']])
y = np.asanyarray(train[['SelDuration']])
regr.fit (x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
#Getting the coefficients
print ('Coefficients: ', regr.coef_)
print ('intercept', regr.intercept_)

Coefficients:  [[-4.99368125e-04 -3.61690318e-04 -1.66323522e-07 -9.52066517e-03]]
intercept [1.55049978]

In [35]:
y_hat= regr.predict(test[['Stethography','SpO2','Sno','HeartRate']])
x = np.asanyarray(test[['Stethography','SpO2','Sno','HeartRate']])
y = np.asanyarray(test[['SelDuration']])
print("Residual sum of squares: %.2f"
      % np.mean((y_hat - y) ** 2))

# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(x, y))

Residual sum of squares: 0.00
Variance score: 0.97